/* Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    background-color: #fff;
}

/* NavBar */
.navcontainer {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.menu-horizontal {
    background: #ffffffa1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    width: 100%;
    transition: all .3s;
    padding: 0 3rem;
}

.img-navbar-izquierda {
    height: 3rem;
    cursor: pointer;
}


/* Items derecha Navbar*/
.menu-derecha>a {
    color: #000;
    text-align: center;
    padding-top: .3rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.menu-derecha>a {
}

/* Imagen Logo Menú*/
.imagen-logo {
    height: 4rem;
}

/* Menú Izquierda */
.item-bar-menu {
    color: #000;
    list-style: none;
    font-size: 1.5rem;
    padding-right: 1rem;
}

/* Menú-menú */
.item-bar-menu {
    padding-top: 1rem;
}

.item-menu {
    list-style: none;
}

.item-menu>a {
    color: #000;
    text-decoration: none;
}

.item-menu>a:hover {
    color: #494949;
}

/* Menú vertical */
.menu-vertical {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 3rem;
    width: 16rem;
    height: 91dvh;
    padding: 5rem 1rem 2rem 2rem;
    background-color: #ffffffa1;
    position: absolute;
    z-index: 0;
    top: 4.5rem;
    left: 0;
    transform: translateX(-300px);
    transition: all .6s;
}



/* FIN NavBar */

/* Body */

/* Imagen Index */
.img-index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.img-index {
    width: 200%;
    height: auto;
    position: static;
    z-index: -1;
    height: 90dvh;
}

/* Index card */
.container-index-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.index-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    height: auto;
    color: #000;
    padding: 1rem;
}

.index-text>h1 {
    color: #db10c7;
    text-shadow: 1px 1px 8px #db10c7;
    font-size: 60px;
}

.index-text>p {
    width: 65%;
    font-size: 22px;
}

.index-text>p>strong {
    color: #db10c7;
}

/* Tarjetas */
.tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem;
    color: #000;
}

/* Tarjeta Individual */
.tarjeta-uno {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 25.5rem;
    gap: .5rem;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 1px 1px 5px 1px;
    transition: all .3s;
}

.tarjeta-uno:hover {
    box-shadow: 3px 3px 10px 1px;
    scale: 105%;
}

.tarjeta-uno>img {
    height: 50%;
    width: 100%;
}

.tarjeta-uno>h3 {
    width: 100%;
    font-size: 25px;
    color: #db10c7;
}

.tarjeta-uno>p {
    width: 90%;
}


/* Tarjetas Vertical */
.tarjetas-dobles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
}

/* Primer tarjeta */
.tarjetas-uno,
.tarjetas-dos {
    padding: 1rem;
    text-align: center;
    display: flex;
    box-shadow: 1px 1px 5px 1px;
    width: 44rem;
    transition: all .3s;
}

.tarjetas-uno:hover,
.tarjetas-dos:hover {
    box-shadow: 3px 3px 10px 1px;
    scale: 105%;
}

.tarjetas-uno>div,
.tarjetas-dos>div {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}

.tarjetas-uno>img,
.tarjetas-dos>img {
    height: 10rem;
    width: 18rem;
}

.tarjetas-uno>div>h3,
.tarjetas-dos>div>h3 {
    font-size: 25px;
    color: #db10c7;
}

.tarjetas-uno>div>p,
.tarjetas-dos>div>p {
    font-size: 16px;
}


/* Quiénes Somos */
.quienes-somos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 0 0 0;
    margin: 0 auto;
    position: relative;
}

.quienes-somos>img {
    width: 100%;
}

.quienes-somos>div {
    color: #fff;
    position: absolute;
    top: 5.8rem;
    z-index: 9;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 70rem;
    padding: 4rem;
    background-color: #0000006d;
    border: 1px solid #00FFCC;
}

.quienes-somos>div>h3 {
    font-size: 50px;
    color: #00FFCC;
}

.listasobrenosotros {
    list-style-type: circle;
    font-size: 18px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}

.listasobrenosotros>li>strong {
    color: #00FFCC;
}

/* Footer */
footer {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-derecha {
    color: #00FFCC;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>div>img {
    width: 4rem;
    height: 4rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 30rem;
    border: 3px solid #00FFCC;
    padding: 1rem;
    align-items: center;
    margin: 1rem;
    border-radius: 5px;
}

.form-input {
    border: none;
    outline: none;
    margin: .8rem;
    width: 20rem;
    padding: .5rem;
    border: 1px solid #00FFCC;
}

.form-submit {
    width: 10rem;
    padding: .5rem;
    border: none;
    cursor: pointer;
    background-color: #00FFCC;
    color: #000000;
}

.form-submit:hover {
    background-color: #bbbbbb;
}

.formulario>h4 {
    color: #00FFCC;
    font-size: 1.5rem;
}

/* FIN Body */

/* Clases c/ Js */

.showhide {
    transform: translateX(0px);
}

/* MediaQuery */

/* 345px */
@media (min-width: 350px) and (max-width: 710px) {

    /* NavBar */
    .menu-horizontal {
        height: 4rem;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .img-navbar-izquierda {
        height: 2rem;
        padding: 0;
    }

    /* Imagen Logo Menú*/
    .imagen-logo {
        height: 3rem;
    }


    /* Menú vertical */
    .menu-vertical {
        height: 100dvh;
        width: 11rem;
        padding: 4rem 1rem 1rem 1rem;
        top: 4rem;
    }

    /* FIN NavBar */

    /* Body */

    /* Imagen Index */
    .img-index {
        width: 400%;
    }

    /* Index card */
    .container-index-text {
        padding: 1rem .5rem;
    }

    .index-text {}

    .index-text>h1 {
        font-size: 40px;
    }

    .index-text>p {
        width: 100%;
        font-size: 14px;
    }

    /* Tarjetas */
    .tarjetas {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    /* Tarjeta Individual */
    .tarjeta-uno {
        width: 19rem;
        height: auto;
    }

    .tarjeta-uno>h3 {
        font-size: 18px;
    }

    .tarjeta-uno>p {
        font-size: 12px;
    }

    /* Tarjetas Vertical */
    .tarjetas-dobles {}

    /* Primer tarjeta */
    .tarjetas-uno,
    .tarjetas-dos {
        flex-direction: column;
        width: 19rem;
    }


    .tarjetas-uno>div,
    .tarjetas-dos>div {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
    }

    .tarjetas-uno>img,
    .tarjetas-dos>img {
        height: 10rem;
        width: 16rem;
        margin: 0 auto;
    }

    .tarjetas-uno>div>h3 {
        font-size: 18px;
    }

    .tarjetas-uno>div>p {
        font-size: 12px;
    }

    .tarjetas-dos>div>h3 {
        font-size: 18px;
    }

    .tarjetas-dos>div>p {
        font-size: 12px;
    }

    /* Quiénes Somos */
    .quienes-somos {
        padding: 0;
        overflow: hidden;
    }

    .quienes-somos>img {
        width: 250%;
        height: 27rem;
    }

    .quienes-somos>div {
        gap: .5rem;
        width: 20rem;
        padding: 1rem;
        top: .6rem;
    }

    .quienes-somos>div>h3 {
        font-size: 25px;
    }

    .listasobrenosotros {
        font-size: 11px;
        gap: .5rem;
    }


    /* Footer */
    footer {}

    .footer-derecha {
        padding: .5rem;
        margin: 0;
        font-size: 10px;
        width: auto;
    }

    footer>div>img {
        width: 1rem;
        height: 1rem;
    }

    .formulario {
        width: 35rem;
        padding: .5rem;
        margin: .5rem;
        border: 1px solid #00FFCC;
        border-radius: 0;
    }

    .form-input {
        width: 100%;
        padding: .5rem;
    }

    .form-submit {
        width: 7rem;
        padding: .5rem;
    }

    .formulario>h4 {
        font-size: 16px;
    }


}

/* 720px */

@media(min-width: 720px) and (max-width: 1350px) {

    /* Tarjetas */
    .tarjetas {
        margin: 1rem;
        flex-direction: row;
        width: auto;
    }

    /* Tarjeta Uno */
    .tarjetas-uno>img {
        width: 13rem;
    }

    /* Tarjeta Dos */
    .tarjetas-dos>img {
        width: 13rem;
    }

    /* Quienes Somos */
    .quienes-somos {
        flex-direction: row;
    }

    .quienes-somos>img {
        height: 9rem;
        width: 15rem;
    }

    /* Footer */
    footer {
        flex-direction: row;
    }

    .formulario {
        width: 20rem;
    }

    .form-input {
        width: 15rem;
    }

}



/* FIN Mediaquery */